<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div><br>

<%= form.select :year, options_for_select((1950..(Time.now.year + 1)).to_a.reverse, selected: @vehicle.year), include_blank: 'Year' %>

<%= form.select :make, options_for_select([["Acura", "Acura"], ["Aston Martin", "Aston Martin"]], selected: @vehicle.make), include_blank: 'Make' %>

 <!-- class="chzn-select year" style="width:70px;" tabindex="1" -->
  <select data-placeholder="Make" class="chzn-select" style="width:115px;" tabindex="2" id="make">
    <option value="">Make</option>
    <option value="ACURA">ACURA</option>
    <option value="ASTON MARTIN">ASTON MARTIN</option>
    <option value="AUDI">AUDI</option>
    <option value="BENTLEY">BENTLEY</option>
    <option value="BMW">BMW</option>
    <option value="BUICK">BUICK</option>
    <option value="CADILLAC">CADILLAC</option>
    <option value="CHEVROLET">CHEVROLET</option>
    <option value="CHRYSLER">CHRYSLER</option>
    <option value="DODGE">DODGE</option>
    <option value="FERRARI">FERRARI</option>
    <option value="FORD">FORD</option>
    <option value="GMC">GMC</option>
    <option value="HONDA">HONDA</option>
    <option value="HUMMER">HUMMER</option>
    <option value="HYUNDAI">HYUNDAI</option>
    <option value="INFINITI">INFINITI</option>
    <option value="ISUZU">ISUZU</option>
    <option value="JAGUAR">JAGUAR</option>
    <option value="JEEP">JEEP</option>
    <option value="KIA">KIA</option>
    <option value="LAMBORGHINI">LAMBORGHINI</option>
    <option value="LAND ROVER">LAND ROVER</option>
    <option value="LEXUS">LEXUS</option>
    <option value="LINCOLN">LINCOLN</option>
    <option value="LOTUS">LOTUS</option>
    <option value="MASERATI">MASERATI</option>
    <option value="MAYBACH">MAYBACH</option>
    <option value="MAZDA">MAZDA</option>
    <option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
    <option value="MERCURY">MERCURY</option>
    <option value="MINI">MINI</option>
    <option value="MITSUBISHI">MITSUBISHI</option>
    <option value="NISSAN">NISSAN</option>
    <option value="PONTIAC">PONTIAC</option>
    <option value="PORSCHE">PORSCHE</option>
    <option value="ROLLS-ROYCE">ROLLS-ROYCE</option>
    <option value="SAAB">SAAB</option>
    <option value="SATURN">SATURN</option>
    <option value="SUBARU">SUBARU</option>
    <option value="SUZUKI">SUZUKI</option>
    <option value="TOYOTA">TOYOTA</option>
    <option value="VOLKSWAGEN">VOLKSWAGEN</option>
    <option value="VOLVO">VOLVO</option>
  </select>
  <select data-placeholder="Model" class="chzn-select" style="width:115px;" tabindex="2" id="model">
    <option value="">Model</option>
    <option value="CROSSTREK">CROSSTREK</option>
    <option value="FORESTER">FORESTER</option>
    <option value="IMPREZA">IMPREZA</option>
    <option value="LEGACY">LEGACY</option>
    <option value="OUTBACK">OUTBACK</option>
    <option value="WRX">WRX</option>
    <option value="">Model</option>
    <option value="COMMANDER">COMMANDER</option>
    <option value="COMPASS">COMPASS</option>
    <option value="GRAND CHEROKEE">GRAND CHEROKEE</option>
    <option value="LIBERTY">LIBERTY</option>
    <option value="PATRIOT">PATRIOT</option>
    <option value="WRANGLER">WRANGLER</option>
  </select>
  <select data-placeholder="Trim" class="chzn-select" style="width:100px;" tabindex="4" id="trim">
    <option value="">Trim</option>
    <option value="LIMITED">LIMITED</option>
    <option value="UNLIMITED">UNLIMITED</option>
    <option value="SPORT">SPORT</option>
    <option value="RENEGADE">RENEGADE</option>
  </select><br><br>

  <div class="actions">
    <%= form.submit %>
  </div><br>

  <p>To add a service or fill up to a new vehicle click on it in your list after it has been created.</p>

<% end %>
