<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div><br>

<%= form.select :year, options_for_select((1950..(Time.now.year + 1)).to_a.reverse, selected: @vehicle.year), include_blank: 'Year' %>

<%= form.select :make, options_for_select([["Acura", "Acura"], ["Aston Martin", "Aston Martin"], ["Audi", "Audi"], ["Bentley", "Bentley"], ["BMW", "BMW"], ["Buick", "Buick"], ["Cadillac", "Cadillac"]], selected: @vehicle.make), include_blank: 'Make' %>

<%= form.select :model, options_for_select([["Crosstrek", "Crosstrek"], ["Forester", "Forester"], ["Impreza", "Impreza"], ["Legacy", "Legacy"], ["Outback", "Outback"], ["WRX", "WRX"]], selected: @vehicle.model), include_blank: 'Model' %><br><br>
 <!-- class="chzn-select year" style="width:70px;" tabindex="1" -->

 <div class="field">
   <%= form.label :odometer %><br>
   <%= form.text_field :odometer %>
 </div>

  <div class="actions">
    <%= form.submit %>
  </div><br>

  <p>To add a service or fill up to a new vehicle click on it in your list after it has been created.</p>

<% end %>
