<p id="notice"><%= notice %></p>

<%= image_tag("#{@vehicle.image}", :class => "rounded_corners") %><br>
<h5><%= @vehicle.nickname %></h5>
  <ul class="no_bullets">
    <li>Year: <%= @vehicle.year %></li>
    <li>Make: <%= @vehicle.make %></li>
    <li>Model: <%= @vehicle.model %></li>
    <li>Mileage: <%= @vehicle.odometer %></li>
    <li>Notes: <%= @vehicle.notes %></li>
  </ul>

  <h5>Average MPG: <%= %></h5>
  <h5>Average MPG of a bicycle 178 *</h5>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>

<% @fill_ups.each do |fill_up| %>
  <tr>
    <td><%= link_to 'Fill Up', fill_up %>&nbsp;</td>
    <td><%= link_to 'Edit', edit_fill_up_path(fill_up) %> |&nbsp;</td>
    <td><%= link_to 'Destroy', fill_up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
